:root
{
    --main-section-padding:4rem 2rem;
    --article-container-padding: 2rem 0;
    --gap-between-articles: 4rem;
    --logo-width: 400px;
    --logo-padding: 2rem;
    --article-width: 25rem;
    --section-header-size: 1.5rem;
    --section-header-padding: 2rem;
    --article-header-size: 1.1rem;
    --article-header-padding: 1rem;
    --nav-padding: 2rem;
    --navigation-links-gap: 1rem;
    --inicio-img-opacity: 70%;
    --house-icon-size: 70%;
    --number-icon-size: 30%;
    --distance-between-paragraph: 1rem;
    --distance-between-contacto: 0.5rem;
    --subheader-font-size:1.25rem;
    --subheader-padding:0.1rem;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main > section
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--main-section-padding);
}
section > section
{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: var(--article-container-padding);
    gap: var(--gap-between-articles);
    flex-wrap: wrap;
}
section > section > article
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
	max-width: var(--article-width);
	padding: 2rem;
}
section > section > article > img
{
width: 100%;
}
main > section > header
{
    font-size: var(--section-header-size);
    padding: var(--section-header-padding);
}
article > header
{
    font-size: var(--article-header-size);
    text-align: center;
    padding: var(--article-header-padding);
}
article > p
{
    text-align: left;
}
p + p
{
    margin-top: var(--distance-between-paragraph);
}
#cabecera
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#logo
{
    width: 100vw;
    max-width: var(--logo-width);
    padding: var(--logo-padding);
}
nav
{
    padding: var(--nav-padding);
    position: sticky;
    top: 0;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
nav a
{
    padding-left: var(--navigation-links-gap);
    padding-right: var(--navigation-links-gap);
}
#inicio
{
    padding: 0;
    display: block;
    overflow-x: hidden;
}
#inicio #slide-show
{
    width: 300vw;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0;
    padding: 0;
    animation: slide 30s infinite;
}
#inicio article
{
    width: 100vw;
    max-width: none;
    position: relative;
    padding: 0;
}

#inicio img
{
    width: 100%;
    opacity:var(--inicio-img-opacity);
}
@keyframes slide
{
    0%
    {
        left: 0;
    }
    30%
    {
        left: 0;
    }
    35%
    {
        left: -100%;
    }
    65%
    {
        left: -100%;
    }
    70%
    {
        left: -200%;
    }
    95%
    {
        left:-200%;
    }
    100%
    {
        left:0%;
    }
}
#inicio .inicio-overlay
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
#inicio .inicio-overlay header
{
    font-size: 2rem;
}
#inicio .inicio-overlay p
{
    max-width: 40ch;
    font-size: 3vw;
    text-align: center;
}
#servicios-articulos article svg
{
    width:var(--house-icon-size);
}
#como-lo-hacemos-articulos article svg
{
    width:var(--number-icon-size);
}
#contacto-lorea
{
    align-items: flex-start;
}
#contacto-josemi
{
    align-items: flex-end;
}
#reformas-titular
{
    font-size: 2rem;
}
#reformas img
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
footer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
}
form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
textarea
{
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
}
button
{
    margin-top: 1rem;
    padding: 1rem 2rem;
}
h2
{
    font-size: var(--subheader-font-size);
    align-self: stretch;
    padding: var(--subheader-padding);
}
#formularionombre, #formulariocorreo, #formulariotelefono
{
    margin-top: 1rem;
    padding: 1rem;
}
#inmuebles img
{
    width: 100%;
    height: calc(var(--article-width)*3/4);
}
#datos-de-contacto p + p
{
    margin-top: var(--distance-between-contacto);
}

@media(max-width:200mm)
{
    nav
    {
        display: none;
    }
}
