button
{
    cursor: pointer;
    background-color: var(--main-color-500);
    border: none;
    border-radius: 4px;
    color: var(--neutral-color-900);
    font-family: "swissbold";
}
button:hover
{
    filter: opacity(50%);
}
button:active
{
    filter: saturate(120%);
}
nav
{
    background-color: var(--neutral-color-900);
}
nav a
{
    font-family: "swissbold";
    color: var(--main-color-500);
    text-decoration: none;
    text-transform: uppercase;
}
#inicio
{
    font-family: "swissbold";
}
#inicio-subtitulo
{
    font-family: "swissbold";
}
#servicios
{
    color: var(--main-color-500);
}
#servicios p
{
    color: var(--neutral-color-100);
}

.casa
{
    fill: var(--main-color-500);
}
#inmuebles img:hover
{
    opacity: 70%;
}
h2
{
    text-transform: uppercase;
    font-family:"swissbold";
    background-color: var(--main-color-500);
    color: var(--neutral-color-900);
    text-align: center;
}
.numero
{
    fill: var(--neutral-color-900);
}
main > section:nth-of-type(2n+1)
{
    background-color: var(--main-color-500);
    color: var(--neutral-color-900);
}
main > section:nth-of-type(2n) > header
{
    color: var(--main-color-500);
}