:root
{
  --gap-imagen-textos: 5%;
  --textos-width: 10cm;
  --imagenes-width: 20cm;
  --imagenes-galeria-max-width: 10cm;
  --imagenes-galeria-padding: 0.5%;
}
main
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: var(--gap-imagen-textos);
  flex-wrap: wrap;
  padding-top: 2cm;
}
#textos
{
  max-width: var(--textos-width);
  padding: 3% 2%;
}
#textos header header
{
  font-size: 1.5rem;
}
#imagenes
{
  max-width: var(--imagenes-width);
}
#imagenes-principal
{
  width: 100%;
}
#textos img
{
  width: 100%;
}
#galeria
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
#galeria img
{
  max-width: var(--imagenes-galeria-max-width);
  padding: var(--imagenes-galeria-padding);
  box-sizing: border-box;
}
#cabecera
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#logo
{
    width: 200px;
    padding: 1rem;
}
#big
{
width: 90%;
margin: 5vh 5%;
object-fit: contain;
height: 90%;
}
#vistacompleta
{
  position: fixed;
  inset: 0 0 0 0;
  background-color: rgba(0, 0, 0, 0.452);
}
#vistacompleta.hidden
{
visibility: hidden;
}