:root
{
    --main-color-500: hsl(27, 22%, 50%);
    --neutral-color-900: hsl(0, 0%, 100%);
    --neutral-color-100: hsl(0, 0%, 0%);
}

@font-face 
{
    font-family: "swiss";
    src: url(../TTF/swissl.ttf);
}
@font-face
{
    font-family: "book";
    src: url(../TTF/BOOKOS.TTF);
}
@font-face
{
    font-family: "swissbold";
    src: url(../TTF/swissb.ttf); 
}
header
{
    text-transform: uppercase;
    font-family:"swissbold";
}
p, li, input, textarea, button
{
    font-family: "swiss";
}